.container{
  padding-left: 10%;
  padding-right: 10%;
  position: relative;
}

.hidden{
  display:inline;
}

.opacity-transition-on{
  transition: all 1s;
  opacity:1;
}

.opacity-transition-of{
  transition: all 0s;
  opacity:0;
  width:0;
}

.z-index-10{
  z-index:10;
}

.font-weight-b {
  font-weight: bolder;
}

.position-ab{
  position:absolute;
}

.position-fx{
  position:fixed;
}

.position-re{
  position:relative;
}

.padding-10 {
  padding: 10px;
}

.padding-20 {
  padding: 20px;
}

.padding-30 {
  padding: 30px;
}

.padding-40 {
  padding: 40px;
}

.padding-l-10 {
  padding-left: 10px;
}

.padding-l-15 {
  padding-left: 15px;
}

.padding-l-20 {
  padding-left: 20px;
}

.padding-r-10 {
  padding-right: 10px;
}

.padding-r-15 {
  padding-right: 15px;
}

.padding-r-20 {
  padding-right: 20px;
}

.padding-b-20{
  padding-bottom:20px;
}

.padding-t-20{
  padding-top:20px;
}

.padding-t-30{
  padding-top:30px;
}

.padding-t-40{
  padding-top:40px;
}

.padding-t-200{
  padding-top:200px;
}

.padding-b-25{
  padding-bottom:25px;
}

.margin-t-5 {
  margin-top: 5px;
}

.margin-t-10 {
  margin-top: 10px;
}

.margin-t-20 {
  margin-top: 20px;
}

.margin-t-40{
  margin-top:40px;
}

.margin-t-50{
  margin-top:50px;
}

.margin-b-50{
  margin-bottom:50px;
}

.margin-10 {
  margin: 10px;
}

.margin-20 {
  margin: 20px;
}

.margin-30 {
  margin: 30px;
}

.txt-right {
  text-align: right;
}

.txt-left {
  text-align: left;
}

.txt-left {
  text-align: center;
}