$palette-colors: (
    'primary' : (
        '1' : #003e88,
        '2' : #00accc
    ),
    'primary-opacity': (
        '1': #00277a8f,
        '1.1': #00277a3d,
        '2' : #006ca569,
        '3' : #00d8e754,
        '4' : #5ac4d6,
        '5' : #003d8854
    ),
    'secondary' : (
        '1' : #00000024,
        '2' : #00000067,
    ),
    'tertiary' : (
        '1' : #FFF
    )
);

@function palette-color($type, $color) {
  @return map-get(map-get($palette-colors, $type), $color);
}
