<div class="min-height-100">
  <main class="container padding-t-150 padding-xl-tp-10">

    <div fxLayout="row" class="margin-b-75">
      <app-banner data-aos="fade-right" data-aos-once="true" [linkPage]="items[4].url" urlImage="./assets/img/banner-tecnologias.jpg"
        fxFlex="100"></app-banner>
    </div>

    <content class="margin-t-50" fxLayout="row wrap" fxLayout.lt-md="column" fxLayoutGap="auto" fxLayoutGap.lt-md="120px">
      <div data-aos="zoom-out-left" data-aos-once="true" class="margin-b-135 txt-center content-center" fxFlex.lt-md="100">
        <h2 class="f-size-title margin-0">Back-end</h2>
        <h3 class="f-size-subtitle margin-0">(Parte funcional)</h3>
        <ul class="list padding-b-50" fxLayoutGap="10px" fxLayout="column">
          <li>NodeJS</li>
          <li>Java</li>
          <li>Hibernate</li>
          <li>JPA</li>
          <li>Spring MVC</li>
          <li>Spring Boot</li>
        </ul>
        <app-triangles></app-triangles>
      </div>

      <div data-aos="zoom-out-left" data-aos-once="true" class="margin-b-135 txt-center content-center" fxFlex.lt-md="100">
        <h2 class="f-size-title margin-0">Front-end</h2>
        <h3 class="f-size-subtitle margin-0">(Parte funcional e visual)</h3>
        <ul class="list padding-b-50" fxLayoutGap="10px" fxLayout="column">
          <li>Angular 2+</li>
          <li>HTML 5</li>
          <li>CSS 3</li>
          <li>Javascript</li>
          <li>TypeScript</li>
          <li>ECMAScript</li>
          <li>Material Design</li>
          <li>jQuery</li>
          <li>SASS</li>
          <li>Compass</li>
          <li>Bootstrap</li>
          <li>Materialize</li>
          <li>Jasmine</li>
          <li>Jersey</li>
        </ul>
        <app-triangles></app-triangles>
      </div>

      <div data-aos="zoom-out-left" data-aos-once="true" class="margin-b-135 txt-center content-center" fxFlex.lt-md="100">
        <h2 class="f-size-title margin-0">Banco de dados</h2>
        <h3 class="f-size-subtitle margin-0">(Armazenamento de informações)</h3>
        <ul class="list padding-b-50" fxLayoutGap="10px" fxLayout="column">
          <li>MySQL</li>
          <li>SQL</li>
          <li>Oracle</li>
          <li>MongoDB</li>
          <li>MariaDB</li>
        </ul>
        <app-triangles></app-triangles>
      </div>
    </content>
  </main>
</div>