  <div class="min-height-100">
    <main class="container padding-t-150">

      <div fxLayout="row" class="margin-b-75">
        <app-banner fxFlex="100"></app-banner>
      </div>

      <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap.lt-md="70px" fxLayoutGap.gt-sm="15%">
        <div fxFlex.gt-sm="33.33">
          <h2>Back-end</h2>
          <label>(Parte funcional)</label>
          <ul>
            <li>Java</li>
            <li>Hibernate</li>
            <li>JPA</li>
            <li>Spring MVC</li>
            <li>Spring Boot</li>
          </ul>
        </div>

        <div fxFlex.gt-sm="33.33">
          <h2>Front-end</h2>
          <label>(Parte funcional e visual)</label>
          <ul>
            <li>Angular 2+</li>
            <li>HTML 5</li>
            <li>CSS 3</li>
            <li>Javascript</li>
            <li>jQuery</li>
            <li>SASS</li>
            <li>SASS</li>
            <li>Compass</li>
          </ul>
        </div>

        <div fxFlex.gt-sm="33.33">
          <h2>Banco de dados</h2>
          <label>(Armazenamento de informações)</label>
          <ul>
            <li>MySQL</li>
            <li>SQL</li>
            <li>Oracle</li>
            <li>MongoDB</li>
            <li>MariaDB</li>
          </ul>
        </div>
      </div>

    </main>
  </div>