@import './../../../assets/scss/palette.scss';

main {
  content {
    @media only screen and (max-width: 959px) {
      margin-top: 0px;
    }

    h2 {
      color: palette-color('primary', '1');
    }

    h3 {
      color: palette-color('primary', '3');
    }
  }

  app-triangles {
    @media only screen and (max-width: 959px) {
      left: -20px;
      position:relative;
    }
  }

  > div {
    @media only screen and (max-width: 959px) {
      margin-bottom: 50px;
    }
  }
}
