@import './../../../assets/scss/palette.scss';

content {
  >div {

    label {
      color: palette-color('primary', '1');
    }

    a {

      color: palette-color('primary', '2');

      @media only screen and (max-width: 500px) {
        word-wrap: break-word;
        width: 200px;
        display: block;
        margin-left: auto;
        margin-right: auto;
      }
    }

    @media only screen and (max-width: 959px) {
      margin-bottom: 90px !important;
    }
  }
}