<div class="icons" (click)="menuIcon = !menuIcon">
  <i fxHide.gt-md="true" [ngClass]="menuIcon === true ? 'opacity-transition-of' : 'opacity-transition-on'" class="z-index-10 position-ab material-icons txt-right">menu</i>
  <i fxHide.gt-md="true" [ngClass]="menuIcon === false ? 'opacity-transition-of' : 'opacity-transition-on'" class="z-index-10 position-ab material-icons txt-right">close</i>
</div>

<nav class="txt-center" (window:resize)="menuMobile($event)" [ngClass]="{'visible-nav': this.menu === true && this.menuIcon === true }">
  <a fxHide.lt-lg="true" class="padding-l-15 padding-r-15" *ngFor="let item of items" routerLink="{{ item.url }}">
    {{item.name | textCapitalize }}
  </a>
</nav>

{{menu}}