@import '../../../../../assets/scss/palette.scss';

.icons {
  @media only screen and (max-width: 1279px) {
    position: relative;
    right: 50px;
    height: 50px;
  }

  i {
    font-size: 50px;
    color: palette-color('primary', '2');
    @media only screen and (max-width: 1279px) {
        display:inline !important;
    }
  }

  i:last-child {
    color: palette-color('tertiary', '1');
  }
}

nav {
  a {
    text-decoration: none;
  }

  @media only screen and (max-width: 1279px) {
    transition: all 0s;
    height: 0;
  }
}

.visible-nav {
  @media only screen and (max-width: 1279px) {
    position: absolute;
    background: palette-color('primary-opacity', '4');
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    padding-top: 120px;
    padding-left: 50px;
    overflow-y: scroll;
    transition: all 1s;
    height: 100%;
  }

  a {
    @media only screen and (max-width: 1279px) {
      display: block !important;
      margin-bottom: 40px;
      text-align: left;
      color: palette-color('tertiary', '1');
      padding: 10px 5px 10px 5px;
      width: 100px
    }
  }
}
