@import './../../../assets/scss/palette.scss';

a{
    color: palette-color('primary', '1');
    width:200px;
    font-size:15pt;
}

img{
    width:70px;
}

#img-contact{
    width: 80%;
}

#phone{
    background: palette-color('tertiary', '2');
    border-radius:30px;
    height:500px;
    width:300px;

    @media only screen and (max-width: 360px) {
        height:500px;
        width:265px;
    }

    #whats-header{
        margin-top:30px;
        background: palette-color('fourth', '2');
        height:40px;
    }

    #whats-body{
        height:400px;
        background: url('../../../assets/img/img-background-whats.png');
    }

    #whats-send{
        > div{
            top: -7px;
            position: relative;
        }

        textarea{
            border:0;
            margin-bottom:10px;
            margin-left:10px;
            width:220px;
            height:55px;

            @media only screen and (max-width: 360px) {
                width:190px;
            }
        }

        a.send{
            border-radius:50px;
            width:40px;
            height:40px;
            background:palette-color('fourth', '2');
           
            i{
                color: palette-color('tertiary', '1');
            }
        }
    }
}