<div class="min-height-100">
  <main class="container padding-t-150 padding-xl-tp-10">

    <content class="margin-t-50" fxLayoutAlign="center center" fxLayout="row wrap" fxLayout.lt-md="column" fxLayoutGap="auto" fxLayoutGap.lt-md="120px">
      <div data-aos="flip-left" fxLayoutAlign="center center" data-aos-once="true" class="margin-b-135 txt-center content-center" fxFlex.lt-md="100">
        <div class="content-center" id="phone">
          <div id="whats-header" fxLayoutAlign="center center"></div>
          <div id="whats-body" fxLayout="row">
            <form [formGroup]="formWhats" id="whats-send" fxLayoutAlign="end end">
              <textarea formControlName="textWhats" class="d-inline" placeholder="Digite sua mensagem"></textarea>
              <div class="d-inline-block margin-l-10">
                <a href="{{ environment + formWhats.value.textWhats }}" target="_blank" class="send" fxLayoutAlign="center center">
                  <i class="material-icons">send</i>
                </a>
              </div>
            </form>
          </div>
        </div>
      </div>

      <div data-aos="flip-left" data-aos-once="true" class="margin-b-135 txt-center content-center" fxFlex.lt-md="100">
        <label>Digite sua mensagem ou aperte no ícone abaixo</label>
        <a class="txt-decoration-none content-center" fxLayout="column" href="tel:+5511998758662" fxLayoutAlign="center center">
          <img fxFlex="100" src="assets/img/img-whats.png" />
          <label class="cursor-pointer" fxFlex="100">(11) 95966-2923</label>
        </a>

      </div>
    </content>
  </main>
</div>