<div class="min-height-100" fxLayoutAlign="start center">
  <main class="container padding-t-150 padding-xl-tp-10">

    <div fxLayout="row" class="margin-b-75">
      <app-banner data-aos="fade-right" data-aos-once="true" urlImage="./assets/img/banner-sobre.jpg"
        fxFlex="100"></app-banner>
    </div>

    <content fxLayoutAlign="start center" data-aos="fade-left" data-aos-once="true" class="margin-b-120 margin-t-50" fxLayout="row wrap" fxLayout.lt-md="column" fxLayoutGap="50px" fxLayoutGap.lt-md="120px">
      <div class="txt-center content-center" fxFlex.lt-md="100">
        <img class="content-center" src="assets/img/img-sobre.jpg" class="img-responsive" />
      </div>

      <div class="txt-left content-center" fxFlex.lt-md="100">
        <p>Criador na web surgiu com o propósito de ajudá-lo em seus negócios, fornecendo serviços de sites de
          excelente qualidade e consultoria em seu ambiente de trabalho.</p>

        <p>É composto por profissionais graduados e com grandes experiências no mercado tecnológico.</p>

        <p>Os nossos valores envolvem o comprometimento com o cliente, a integridade no que fazemos, proatividade,
          moral e a ética.</p>
      </div>

    </content>
  </main>
</div>
