<div class="min-height-100">
  <div class="container padding-t-240 padding-xl-tp-10">

    <div class="txt-center">
      <main fxLayout.lt-md="column" fxLayoutGap.lt-md="70px" fxLayout="row" fxLayoutGap.gt-sm="15%">
        <div fxFlex.gt-sm="50">
          <h2 class="position-re margin-b-30 margin-t-100 f-size-title">
            <app-triangles></app-triangles>
            Sites
          </h2>
          <content>
            <p>Podemos criar um do zero para você.</p>
            <p>Nossos sites e sistemas são leves,</p>
            <p>com boa usabilidade e tecnologias atuais do mercado.</p>
          </content>
        </div>
        <div  fxFlex.gt-sm="50">
          <img class="img-responsive" src="assets/img/img-sites-sistemas.jpg" />
        </div>
      </main>
    </div>

    <div class="txt-center margin-t-150">
      <main fxLayout.lt-md="column-reverse" fxLayoutGap.lt-md="70px" fxLayout="row" fxLayoutGap.gt-sm="15%">
        <div  fxFlex.gt-sm="50">
          <img class="img-responsive" src="assets/img/img-prototipo.jpg" />
        </div>
        <div  fxFlex.gt-sm="50">
          <h2 class="position-re margin-b-30 margin-t-100 f-size-title">
            <app-triangles></app-triangles>
            Protótipo
          </h2>
          <content>
            <p>Deixe as complicações e limitações de lado,</p>
            <p>a construção é elaborada do jeitinho que você deseja.</p>
          </content>
        </div>
      </main>
    </div>

    <div class="txt-center margin-t-150">
      <main fxLayout.lt-md="column" fxLayoutGap.lt-md="70px" fxLayout="row" fxLayoutGap.gt-sm="15%">
        <div  fxFlex.gt-sm="50">
          <h2 class="position-re margin-b-30 margin-t-100 f-size-title">
            <app-triangles></app-triangles>
            Responsivo
          </h2>
          <content>
            <p>O site e o sistema é compatível com o computador,</p>
            <p>celular, tablet e até mesmo televisores.</p>
            <p>Não tendo que se preocupar com a usabilidade</p>
            <p>de pequenas e grandes telas.</p>
          </content>
        </div>
        <div  fxFlex.gt-sm="50">
          <img class="img-responsive" src="assets/img/img-responsivo.jpg" />
        </div>
      </main>
    </div>

    <div class="txt-center margin-t-150">
      <main fxLayout.lt-md="column-reverse" fxLayoutGap.lt-md="70px" fxLayout="row" fxLayoutGap.gt-sm="15%">
        <div  fxFlex.gt-sm="50">
          <img class="img-responsive" src="assets/img/img-suporte.jpg" />
        </div>
        <div  fxFlex.gt-sm="50">
          <h2 class="position-re margin-b-30 margin-t-100 f-size-title">
            <app-triangles></app-triangles>
            Manutenção
          </h2>
          <content>
            <p>Também podemos fornecer os nossos serviços</p>
            <p>em sites e sistemas já existentes.</p>
            <p>Consulte as tecnologias que utilizamos e solicite o orçamento!</p>
          </content>
        </div>
      </main>
    </div>

    <div class="txt-center margin-t-150" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap.lt-md="40px"
      fxLayoutGap.gt-sm="15%">
      <div  fxFlex.gt-sm="50">
        <h2 class="position-re margin-b-30 margin-t-100 f-size-title">
          <app-triangles></app-triangles>
          Consultoria
        </h2>
        <content>
          <p>Fornecemos soluções completas com ideias,</p>
          <p>inovação, assuntos que enriqueçam</p>
          <p>ainda mais o seu negócio.</p>
        </content>
      </div>
      <div  fxFlex.gt-sm="50">
        <img class="img-responsive" src="assets/img/img-consultoria.jpg" />
      </div>
    </div>

    <div class="txt-center margin-t-150 margin-b-150">
      <main fxLayout.lt-md="column-reverse" fxLayoutGap.lt-md="70px" fxLayout="row" fxLayoutGap.gt-sm="15%">
        <div  fxFlex.gt-sm="50">
          <img [@scrollAnimation]="state" class="img-responsive" src="assets/img/img-servicos-extras.jpg" />
        </div>
        <div  fxFlex.gt-sm="50">
          <h2 class="position-re margin-b-30 margin-t-100 f-size-title">
            <app-triangles></app-triangles>
            Serviços Extras
          </h2>
          <content>
            <p>Se você é um programador e tem dificuldades ou</p>
            <p>falta de tempo de criar um componente</p>
            <p>do layout, podemos criar</p>
            <p>um personalizado para você e rápido.</p>
          </content>
        </div>
      </main>
    </div>

  </div>
</div>