@import './../../../assets/scss/palette.scss';

content p {
  margin: 0;
  margin-top: 4px;
  font-size: 11pt;
}

h2 {
  color: palette-color('primary', '1');

  @media only screen and (max-width: 959px) {
    margin-top: 50px;
  }
}

app-triangles {
  position: absolute;
  left: 80px;
  top: -100px;

  @media only screen and (max-width: 959px) {
    position: relative;
    left: -50px;
    margin-bottom: 90px;
    top: -80px;
  }
}
