<div fxFlexFill>
  <div class="container padding-t-200">

    <div class="txt-center" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap.lt-md="40px" fxLayoutGap.gt-sm="15%">
      <div fxFlex.gt-sm="50">
        <app-triangles></app-triangles>
        <h2 class="margin-b-30 margin-t-100">Sites</h2>
        <content>
          <p>Podemos criar um do zero para você.</p>
          <p>Nossos sites e sistemas são leves,</p>
          <p>com boa usabilidade e tecnologias atuais do mercado.</p>
        </content>
      </div>

      <div fxFlex.gt-sm="50">
        <app-triangles></app-triangles>
        <h2 class="margin-b-30 margin-t-100">Protótipo</h2>
        <content>
          <p>Deixe as complicações e limitações de lado,</p>
          <p>a construção é elaborada do jeitinho que você deseja.</p>
        </content>
      </div>
    </div>

    

  </div>
</div>