@import './assets/scss/default.scss';
@import './assets/scss/palette.scss';

@font-face {
  font-family: 'default';
  src: url('./assets/fonts/mont.ttf');
}

* {
  font-family: 'default';
}

html,
body {
  width: 100%;
  height: 100%;
  position: relative;
  margin: 0;
  background: palette-color('primary-opacity', '6');
}